@import "animation.css";

body {
  background-image: linear-gradient(to bottom right, #3494E6, #EC6EAD);
  background-size: 180% 180%;
  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

.submenu-container{
  margin-left: 50px;
}

.menu-container ul, a{
  list-style-type: none;
  margin: 0px;
  padding-left: 50px;
  font-family: Montserrat;
  font-size: 12px;
  color: white;
  text-decoration: none;
  opacity: 70%;
  font-weight: 400;
}

.menu-container span{
  opacity: 100%;
}

.menu-container ul, a:hover{
  list-style-type: none;
  margin: 0px;
  padding-left: 50px;
  font-family: Montserrat;
  font-size: 15px;
  color: white;
  text-decoration: none;
  opacity: 100%;
  font-weight: 900;
}

.menu-container li{
  display: inline-block;
}

.menu-container p {
  color: white;
  font-size: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
}

.image-container{
  height: 500px;
  margin-left: 30px;
}

.github-container{
  height: 80px;
  margin: -20px;
  margin-left: -20px;
  padding: 0px;
}

.content-container{
  font-family: Montserrat;
  font-weight: 400;
  font-size: 15px;
  color: white;
}

.content-container h2{
  font-weight: bold;
  font-size: 45px;
  margin: 0px;
}

.left-content-container{
  padding-top: 3px;
  margin-top: 40px;
}

.all-container{
  margin-left: 215px;
  width: 1000px;
}

.beside{
  display: inline-block;
}

.left-content-container{
  vertical-align: top;
  padding-top: 50px;
  margin-right: 30px;
}
