body {
  background-image: linear-gradient(to bottom right, #3494E6, #EC6EAD);
  background-size: 200% 200%;
  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

.all-container{
  margin-left: 215px;
  height: 600px;
}

.beside{
  display: inline-block;
}

.menu-container ul, a{
  list-style-type: none;
  margin: 0px;
  padding-left: 50px;
  font-family: Montserrat;
  font-size: 12px;
  color: white;
  text-decoration: none;
  opacity: 70%;
  font-weight: 400;
}

.menu-container span{
  opacity: 100%;
}

.menu-container ul, a:hover{
  list-style-type: none;
  margin: 0px;
  padding-left: 50px;
  font-family: Montserrat;
  font-size: 15px;
  color: white;
  text-decoration: none;
  opacity: 100%;
  font-weight: 900;
}

.menu-container li{
  display: inline-block;
}

.menu-container p {
  color: white;
  font-size: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
}

.page-now{
  padding-left: 50px;
}
